.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}
.login__container {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid lightgray;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 2px;
}
.login__container > p {
  font-size: 12px;
}
.login__container > form > h5 {
  margin-bottom: 5px;
}
.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
}
.login__container > form > button {
  background-color: #f0c14b !important;
  border: 1px solid !important;
  border-color: #a88734 #9c7e31 #846a29 !important;
  color: #111 !important;
  margin-top: 10px !important;
  width: 100%;
}
.login__container > button {
  border: 1px solid !important;
  color: #111 !important;
  margin-top: 10px !important;
}
